h1 {
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
}

.vertical {
    border-left: solid 1px;
    border-right: solid 1px;
}

.horizontal {
    border-bottom: solid 1px;
    border-top: solid 1px;
}

#field {
    margin-top: 30px;
    margin-bottom: 30px;
}